@model List<DAMNM.Model.OrderModel>
@{
    ViewBag.Title = "Orders Management";
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0" style="overflow: scroll">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Order Id</th>    
                        <th>State</th>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @foreach (var command in item.Commands)
                                {
                                    <a href="/Home/ExecuteCommand?Id=@item.Id&commandName=@command.key"><button type="button" class="btn btn-success">@command.value</button></a>
                                }
                            </td>
                            <td>@item.Id</td>    
                            <td>@item.StateName</td>
                            <th>@item.OwnerName</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>