@{
    ViewBag.Title = "Orders Managent";
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0" style="overflow: scroll">
                <thead>
                    <tr>
                        <th style="width:200px">Actions</th>
                        <th>Order Id</th>                     
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>