<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkflowEngine.Properties.Settings.OnlineShopConnectionString"
            connectionString="Data Source=WINDOWSPC\HTHU;Initial Catalog=OnlineShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>